* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #EFF1ED;
}
h1{
    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background: linear-gradient(#EFF1ED,#939787);
}


.question {
    width: 40%;
    background: white;
    padding: 15px;
    margin: 20px auto;
    border-radius: 10px;
    border-left: 5px solid black;
    transition: 0.3s;
}


.question-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}


.answer {
    display: none;
    margin-top: 10px;
    font-size: 17px;
    text-align: left;
    line-height: 22px;
}

.show-text .answer {
    display: block;
}

    .question-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 22px;
    display: flex;       
    align-items: center; 
    justify-content: center; 
    width: 35px;         
}


.question-btn i {
    transition: transform 0.3s ease;
}


.show-text .question-btn i {
    transform: rotate(180deg);
}
