*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: blue;
}
.watch{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
    border: 2px solid white;
    padding:60px;
}
#timer{
    margin-top: 30px;
    font-size: 2rem;
}
.button{
    margin-top: 20px;
 
}
.btn{
    height: 50px;
    width: 60px;

}
.btn:hover{
    scale:0.9;
}
